<link rel="stylesheet" type="text/css" href="../../assets/css/dock.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../assets/js/stack.js"></script>
<script>
   $(document).ready(function() {
       debugger;
            let text = render();
            console.log(text);
            
        });
</script>
<div class="dock">
  <ul>
    <li id="chrome">
      <a href="#chrome">
        <em>
          <span>Java</span>
        </em>
        <img src="../../assets/images/stack/java.svg" />
      </a>
    </li>
    <li id="skype">
      <a href="#skype">
        <em>
          <span>Skype</span>
        </em>
        <img src="https://bit.ly/VNpelW" />
      </a>
    </li>
    <li id="codepen">
      <a href="#codepen">
        <em>
          <span>CodePen</span>
        </em>
        <img src="https://bit.ly/X5VOO3" />
      </a>
    </li>
    <li id="reason">
      <a href="#reason">
        <em>
          <span>Reason</span>
        </em>
        <img src="https://bit.ly/XWnktR" />
      </a>
    </li>
    <li id="wunderlist">
      <a href="#wunderlist">
        <em>
          <span>Wunderlist</span>
        </em>
        <img src="https://bit.ly/11MXFvd" />
      </a>
    </li>
  </ul>
</div>
<!-- End: CSS Dock Code -->