<link rel="stylesheet" type="text/css" href="../../assets/css/dock.css" />
<div class="dock">
  <ul>
    <li id="chrome">
      <a href="#chrome">
        <em>
          <span>Google Chrome</span>
        </em>
        <img src="https://bit.ly/YUCdmZ" />
      </a>
    </li>
    <li id="skype">
      <a href="#skype">
        <em>
          <span>Skype</span>
        </em>
        <img src="https://bit.ly/VNpelW" />
      </a>
    </li>
    <li id="codepen">
      <a href="#codepen">
        <em>
          <span>CodePen</span>
        </em>
        <img src="https://bit.ly/X5VOO3" />
      </a>
    </li>
    <li id="reason">
      <a href="#reason">
        <em>
          <span>Reason</span>
        </em>
        <img src="https://bit.ly/XWnktR" />
      </a>
    </li>
    <li id="wunderlist">
      <a href="#wunderlist">
        <em>
          <span>Wunderlist</span>
        </em>
        <img src="https://bit.ly/11MXFvd" />
      </a>
    </li>
  </ul>
</div>
<!-- End: CSS Dock Code -->