h1, p { text-align:center }
p { margin-top:-18px }

/* Dock */
body{
    overflow: hidden;
    border: hidden;
}
@-webkit-keyframes bounce {
  0% { transform:translateY(0) }
  100% { transform:translateY(-20px) }
}

@-moz-keyframes bounce {
  0% { transform:translateY(0) }
  100% { transform:translateY(-20px) }
}

.dock {
  position: absolute;
  bottom: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
  font-size: normal 14px/1;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

.dock ul {
	position: relative;
	display: inline-block;
	padding: 0 5px;
	margin: 0;
	background: url("https://bit.ly/11XOnb3") repeat-x bottom;
}

.dock ul:before, .dock ul:after {
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 31px;
}

.dock ul:before {
  left: -31px;
  background: url("https://bit.ly/11MSxqX") no-repeat left bottom;
}

.dock ul:after {
  right: -31px;
  background: url("https://bit.ly/12uo9l4") no-repeat right bottom;
}

.dock li {
  display: inline-block;
  position: relative;
  margin: 0 2px;
  margin-bottom: 15px;
  vertical-align: baseline;
  box-reflect: below -16px -webkit-gradient(linear, left top, left bottom,from(transparent),color-stop(91%, rgba(255, 255, 255, .1)),color-stop(91.01%, transparent),to(transparent));
}

.dock a {
  display: inline-block;
  cursor: default;
  outline: none;
}

.dock li:target a {
  animation: bounce .3s 6 alternate ease-out
}

.dock li:after {
	content: " ";
	position: absolute;
	bottom: -5px;
	left: 50%;
	width: 5px;
	height: 5px;
	opacity: 0;
	visibility: hidden;
	background-color: rgba(255, 255, 255, .8);
	margin-left: -2px;
  border-radius: 5px;
  box-shadow: inset 0 1px 3px rgba(75, 255, 255, .4), 0 0 4px rgba(75, 255, 255, .5), 0 -1px 7px rgb(75, 255, 255);
  transition: opacity .5s;
}

.dock li:target:after {
	visibility: visible;
	opacity: 1;
}

.dock em {
	position: absolute;
	top: -34px;
	left: 50%;
	display: none;
	width: 150px;
	margin-left: -75px;
	text-align: center;
}

.dock em:after {
	content: " ";
	position: absolute;
	bottom: -6px;
	left: 50%;
	margin-left: -6px;
	width: 0;
	height: 0;
	border-left: 6px solid transparent;
	border-right: 6px solid transparent;
	border-top: 6px solid rgba(0, 0, 0, .6);
	border-bottom: none;
}

.dock em span {
	display: inline-block;
	padding: 5px 12px;
	font-size: 14px;
	font-style: normal;
	color: #FFF;
	background: #000;
	background: rgba(0, 0, 0, .6);
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .9);
	border-radius: 12px;
}

.dock li:hover em, .dock li a:focus em {
	display: block;
}

.dock img {
	width: 45px;
	height: auto;
	border: none;
  transition: width .2s, height .2s;
}

.dock li:hover img, .dock li a:focus img {
	width: 96px;
}

.dock li:active img {
	opacity: .9;
}